/* ===== RESET ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: rgb(255, 255, 255);
    text-align: center;
    overflow-x: hidden;
    background-image: url("https://ibb.co/CpjkzmLy");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

    animation: entradaGeral 1.2s ease-out;
}

/* ===== ANIMAÇÃO GERAL ===== */
@keyframes entradaGeral {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(100px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/* ===== HEADER ===== */
header {
    padding: 20px;
    animation: descer 1s ease;
}

@keyframes descer {
    from {
        transform: translateY(-80px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ===== NOME COM SUPER BRILHO ===== */
h1 {
    margin: 0;
    font-size: 30px;
    animation: brilhoNeon 1.5s infinite alternate;
}

@keyframes brilhoNeon {
    0% {
        text-shadow: 0 0 5px #3b82f6;
    }
    100% {
        text-shadow: 0 0 25px #3b82f6, 0 0 50px #3b82f6;
    }
}

/* ===== FOTO ===== */
.foto {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 15px;
    border: 3px solid #3b82f6;
    object-fit: cover;

    animation: girarEntrar 1s ease;
    transition: 0.4s;
}

/* FOTO ENTRANDO GIRANDO */
@keyframes girarEntrar {
    0% {
        transform: scale(0) rotate(360deg);
        opacity: 0;
    }
    100% {
        transform: scale(1) rotate(0);
        opacity: 1;
    }
}

/* EFEITO HOVER NA FOTO */
.foto:hover {
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 0 30px #3b82f6;
}

/* ===== LINKS ===== */
.links {
    margin-top: 20px;
}

/* BOTÕES */
.links a {
    text-decoration: none;
    color: white;
    background: linear-gradient(45deg, #3b82f6, #2563eb);
    padding: 12px 18px;
    margin: 6px;
    border-radius: 10px;
    display: inline-block;

    animation: subirBotoes 1s ease;
    transition: 0.3s;
}

/* BOTÕES ENTRANDO */
@keyframes subirBotoes {
    from {
        transform: translateY(60px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* HOVER DOS BOTÕES */
.links a:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px #3b82f6;
}

/* ===== TEXTO ===== */
main {
    margin-top: 40px;
    padding: 20px;
    animation: aparecerTexto 2s ease;
}

@keyframes aparecerTexto {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
